<header
  class="container py-3 d-flex justify-content-between align-items-center"
>
  <h1 routerLink="/" class="m-0 border p-1 lowercase">PARKARO</h1>
  <nav class="d-flex">
    <a routerLink="/dashboard"><h3 class="me-4">DASHBOARD</h3></a>
    <a routerLink="/allot-parking"><h3 class="me-4">ALLOT</h3></a>
    <a routerLink="/deallot-parking"><h3 class="me-4">DEALLOT</h3></a>
    <a routerLink="/add-parking"><h3 class="me-4">ADD</h3></a>
    <a routerLink="/history"><h3 class="me-2">HISTORY</h3></a>
  </nav>
</header>
